{% extends 'base.html.twig' %}

{% block title %} Editar horario {% endblock %}

{% block body %} 
    
    <div class="content">
      <div class="row">
          <div class="col-lg-12">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="/schedule">Horario</a></li>
                  <li class="breadcrumb-item active">Editar</li>
              </ol>
          </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Editar Horario </h4>
              </div>
                <div class="p-3">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %} 