{% extends 'base.html.twig' %}

{% block title %} Nuevo Area Medico {% endblock %}

{% block body %} 
    <h2 class="mt-2 mb-4">Area medica</h2>
    {{ form_start(form) }}
    {# {{ form_label(form.area, 'Area') }} #}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %} 