{% extends 'base.html.twig' %}

{% block title %} Asignar vacaciones {% endblock %}

{% block body %} 
    <h2 class="mt-2 mb-4">Asignar Vacaciones</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %} 

{% block javascripts %}
<script>
    $('.datepicker').datepicker({
        startDate: '-1d'
    });
</script>
{% endblock %}