{% extends 'base.html.twig' %}

{% block title %} Editar Cita Medica {% endblock %}

{% block body %} 
    <h2 class="mt-2 mb-4">Cita Medica</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %} 