<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="/css/login.css"/>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {# {{ include('inc/footer.html.twig') }} #}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('paper/assets/js/core/popper.min.js') }}"></script>
        <script src="{{ asset('paper/assets/js/core/bootstrap.min.js') }}"></script>
        {% block javascripts %}
            <script>
              
            </script>    
        {% endblock %}
    </body>
</html>
